<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dss.jcourse.mapper.UserInfoMapper">
    <select id="queryUserInfoByUserNo" parameterType="java.lang.Integer"
            resultType="com.dss.jcourse.pojo.domain.UserInfoDO">
        SELECT
            u.name, u.icon
        FROM
            user AS u
        WHERE
            u.user_id = #{userNo}
    </select>
</mapper>